
      :root {
        --black: #ffffff;
        --gray100: #ddd;
        --blue: #92d6e4;
        --chat-tail-size: 21px;
      }

      .chat {
        display: grid;
        grid-gap: 1rem;
        justify-items: start;
        padding: 1rem;
      }

      .chat-message {
        --bubble-color: var(--gray100);
        position: relative;
        padding: 0.625rem;
        background-color: var(--bubble-color);
        border-radius: 0.625rem;
        color: var(--bubble-color);
      }
      .chat-message.me {
        --bubble-color: var(--blue);
        justify-self: end;
      }
      .chat-message.me .chat-text {
        max-width: 28ch;
      }
      .chat-message::before,
      .chat-message::after {
        content: "";
        position: absolute;
      }
      .chat-message::before {
        height: calc(var(--chat-tail-size) * 1.2);
        width: calc(var(--chat-tail-size) * 0.85);
        background-color: currentColor;
        border-radius: 50% 50% 20px/10px 0;
        top: calc((100% - (var(--chat-tail-size) / 2)) - 11px);
        right: calc((100% + (var(--chat-tail-size) / 2) * -1) + 4px);
        left: auto;
      }
      .chat-message::after {
        height: calc(var(--chat-tail-size) * 1.25);
        width: var(--chat-tail-size);
        background-color: var(--black);
        border-radius: 0 0 16px/14px;
        top: calc((100% - (var(--chat-tail-size) / 2)) - 11px);
        right: 100%;
        left: auto;
      }
      .chat-message.me::before {
        border-radius: 50% 50% 0 20px/10px;
        left: calc((100% + (var(--chat-tail-size) / 2) * -1) + 3px);
        right: auto;
      }
      .chat-message.me::after {
        border-radius: 0 0 0 16px/14px;
        left: 100%;
        right: auto;
      }

      .chat-text {
        margin: 0;
        max-width: 32ch;
        font-size: 0.875rem;
        line-height: 1;
        color: rgb(0, 0, 0);
      }

      #customFileLabel {
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        border-radius: 10px;
      }